<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Diagram</title>
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
</head>
<body>
    <div class="mermaid">
        graph TD
id0b279695bbff4e589078b810e486e82b[SearchAccountStep]
idd897c18eb9d24321885609d693e1e011[CreateAccountStep]
id0b279695bbff4e589078b810e486e82b-->idd897c18eb9d24321885609d693e1e011


    </div>

    <script src="/scripts/mermaid.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/tippy.min.js"></script>
    <script>

        var descriptions = {};

        function truncate(input, leng) {
            if (input.length > leng)
                return input.substring(0, leng) + '...';
            else
                return input;
        };

        mermaid.initialize({
            startOnLoad: true,
            htmlLabels: true,
            theme: 'forest',
            // themeCSS: '.node rect { fill: red; }',
            logLevel: 3,
            flowchart: { curve: 'basis', useMaxWidth: false },
            mermaid: {
                callback: function (id) {
                    for (var key in descriptions) {
                        if (!descriptions.hasOwnProperty(key))
                            continue;

                        tippy('#' + key,
                            {
                                content: truncate(descriptions[key], 100).replace(/(?:\r\n|\r|\n)/g, '<br>')
                            });

                        const desc1 = descriptions[key];

                        var func1 = function () {
                            alert(desc1);
                        };

                        document.getElementById(key).addEventListener("click", func1);
                    }
                }
            }
        });



    </script>
</body>
</html>
>
