<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Diagram</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>PipelineR</h3>
            </div>

            <ul class="list-unstyled components">
                <li> <a href="#e92da3d5-bf7b-4d99-8769-3d1d2473b159">Create Account</a> </li><li> <a href="#a4f20d40-2589-4f73-97e0-f427df9dfc3e">Deposit</a> </li>
                <!--<li> <a href="#">About</a> </li>-->
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <h2 id="e92da3d5-bf7b-4d99-8769-3d1d2473b159">Create Account</h2><p>Creating an bank account</p><div class="mermaid"> graph TD 
id2c5d499aaa974248800208d296b64fc1[Search Account]
id14f660b53835486587f2e0fc8727db76[Create Account]
id2c5d499aaa974248800208d296b64fc1-->id14f660b53835486587f2e0fc8727db76

 </div><div class="line"></div><h2 id="a4f20d40-2589-4f73-97e0-f427df9dfc3e">Deposit</h2><p>Making a bank deposit</p><div class="mermaid"> graph TD 
id331a4b3426554cd9a0efa7d49fe245f9[Search Account]
id7f7a6d4daa1d45c8a72f6f5fb8968daa[Search Account]
id03f047c5e1434d1eb9818e8214ec27e6(Deposit Account)
id331a4b3426554cd9a0efa7d49fe245f9-->id7f7a6d4daa1d45c8a72f6f5fb8968daa
id7f7a6d4daa1d45c8a72f6f5fb8968daa-->id03f047c5e1434d1eb9818e8214ec27e6

 </div><div class="line"></div>
            <!--<h2>Collapsible Sidebar Using Bootstrap 4</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="mermaid">
                graph TD

            </div>
            <div class="line"></div>-->

        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="/scripts/mermaid.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/tippy.min.js"></script>
    <script>

        var descriptions = {};

        function truncate(input, leng) {
            if (input.length > leng)
                return input.substring(0, leng) + '...';
            else
                return input;
        };

        var config = {
            theme: 'default',
            logLevel: 'fatal',
            securityLevel: 'strict',
            startOnLoad: true,
            arrowMarkerAbsolute: false,
            mermaid: {
                callback: function (id) {
                    for (var key in descriptions) {
                        if (!descriptions.hasOwnProperty(key))
                            continue;

                        tippy('#' + key,
                            {
                                content: truncate(descriptions[key], 100).replace(/(?:\r\n|\r|\n)/g, '<br>')
                            });

                        const desc1 = descriptions[key];

                        var func1 = function () {
                            alert(desc1);
                        };

                        document.getElementById(key).addEventListener("click", func1);
                    }
                }
            },
            flowchart: {
                htmlLabels: true,
                curve: 'linear',
            },
            sequence: {
                diagramMarginX: 50,
                diagramMarginY: 10,
                actorMargin: 50,
                width: 150,
                height: 65,
                boxMargin: 10,
                boxTextMargin: 5,
                noteMargin: 10,
                messageMargin: 35,
                mirrorActors: true,
                bottomMarginAdj: 1,
                useMaxWidth: true,
                rightAngles: false,
                showSequenceNumbers: false,
            },
            gantt: {
                titleTopMargin: 25,
                barHeight: 20,
                barGap: 4,
                topPadding: 50,
                leftPadding: 75,
                gridLineStartPadding: 35,
                fontSize: 11,
                fontFamily: '"Open-Sans", "sans-serif"',
                numberSectionStyles: 4,
                axisFormat: '%Y-%m-%d',
            }
        };
        mermaid.initialize(config);

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>

</html>